p {
    color: #2e2e2e!important;
}



.entry-title {
    background-color: #f3de49;
    padding: 0 1rem; 
    display: inline-block;
   
}

.entry-title a {
    
    text-decoration: none;
    color: #2e2e2e!important;
   
}