p {
    color: #1a1a1a !important;
}



.entry-title {
    background-color: #b69b02;
    padding: 0 1rem; 
    display: inline-block;
   
}

.entry-title a {
    
    text-decoration: none;
    color: #1a1a1a !important;
   
}