
.nav-container{
    width: 100%;
    background-color: #F3DF49;
    padding: 1rem 5% 0 5%;
    position: fixed;
    top:0;
    left: 0;
    border-bottom: 1px solid #bbbbbb;
}

.navigation {
    
    margin: 0;
    padding: 1rem 0;
    display: inline-block;
}

.navigation-menu {
    
    display: flex;
    flex-direction: row;
    list-style: none;
   
    padding-bottom: 1rem;
    ul{
        list-style-type: none;
        margin: 0;
    }
}

.header-space {
    margin-right: 5rem;
    display: inline-block;
    h1{
        color:#343434;
        font-size: 3rem;
        font-weight: 300;
        padding: .5rem 0;
        
    }
}

.navigation-menu li {
    padding: 0 1rem 0 1rem;
    font-size: 1.7rem;
    font-weight: 200; 
    border-right: 1px solid  #343434;
    &:last-of-type{
        border: 0;
    }

}

.navigation-menu li a {
    color:#343434;
    text-decoration: none;
    &:hover{
        border-bottom: 2px solid #343434;
    }

}
