.nav-container{
    width: 100%;
    background-color: white;
    padding: 1.5rem 0;
}

.navigation-menu{
   
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation-menu li {
    margin: .5rem;
   
}

.navigation-menu li a {
    color:#343434;
    text-decoration: none;
    &:hover{
        border-bottom: 2px solid #343434;
    }

}
