html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.2;
  font-size: 1.8rem;
  background-color: #f0f0f0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

.main-body {
  margin-top: 9.5rem; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

.nav-container {
  width: 100%;
  background-color: #F3DF49;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0; }

.header-container {
  width: 90%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: first baseline;
      align-items: first baseline; }

.large {
  display: block;
  font-size: 4.75rem; }

.navigation {
  margin: 0;
  padding: 1rem 0;
  display: inline-block; }

.navigation-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  list-style: none;
  padding-bottom: 1rem; }
  .navigation-menu ul {
    list-style-type: none;
    margin: 0; }

.header-space {
  margin-right: 5rem;
  display: inline-block; }
  .header-space h1 {
    color: #343434;
    font-size: 2.75rem;
    font-weight: 300;
    padding: .5rem 0;
    font-family: 'Cabin Sketch', cursive; }

.navigation-menu li {
  padding: 0 1rem 0 1rem;
  font-size: 2.1rem;
  font-weight: 350;
  border-right: 1px dotted rgba(52, 52, 52, 0.79); }
  .navigation-menu li:last-of-type {
    border: 0; }

.navigation-menu li a {
  color: #343434;
  text-decoration: none; }
  .navigation-menu li a:hover {
    border-bottom: 2px solid #343434; }

.button-search {
  width: 8rem;
  height: 3.25rem;
  border-radius: .25rem;
  border: 0; }
  .button-search:hover {
    background: #343434;
    color: white;
    cursor: pointer; }
  .button-search:active {
    background: #343434;
    color: white;
    cursor: pointer; }

#searchform {
  display: inline-block;
  position: relative;
  bottom: 1rem;
  height: 3rem; }

.search-field {
  border: 0;
  height: 3rem;
  padding-left: .5rem; }

header {
  margin-top: 5rem; }

main {
  width: 100%;
  margin: auto; }

p {
  color: #2e2e2e !important;
  font-size: 2rem;
  line-height: 1.2; }

.entry-title {
  background-color: #f3de49;
  padding: 0 1rem;
  display: inline-block; }

.entry-title a {
  text-decoration: none;
  color: #2e2e2e !important; }

.rounded {
  background-image: url("http://wordpressalgo.test/wp-content/uploads/2019/10/finalimage.png");
  background-repeat: no-repeat;
  background-position: right center;
  height: 520px;
  width: 100%;
  background-color: #f3de49;
  box-shadow: 10px 10px 20px #aeaeae; }

.text {
  width: 90%;
  margin: auto;
  font-size: 5rem;
  color: #343434;
  position: relative; }
  .text h2 {
    position: absolute;
    top: 12rem;
    font-weight: 300;
    width: 50%;
    font-family: 'Cabin Sketch', cursive; }

.container-intro {
  width: 90%;
  margin: auto;
  padding: 5rem 0; }
  .container-intro .intro {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.8rem; }

.container-articles {
  width: 90%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: auto; }
  .container-articles .home-article {
    width: 45%;
    margin-bottom: 6rem; }
    .container-articles .home-article p:first-of-type {
      font-size: 2.8rem;
      margin: 1.5rem 0; }
    .container-articles .home-article p {
      line-height: 1.2;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.54);
      fill: rgba(0, 0, 0, 0.54);
      margin-top: 7px; }
  .container-articles .image1 {
    background-image: url("http://wordpressalgo.test/wp-content/uploads/2019/10/jerome-4NACu8TxQzQ-unsplash-683x1024.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem; }
  .container-articles .image2 {
    background-image: url("http://wordpressalgo.test/wp-content/uploads/2019/10/ira-mint-NAbyY7cZXIY-unsplash-2-1024x678.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem; }
  .container-articles .image3 {
    background-image: url("http://wordpressalgo.test/wp-content/uploads/2019/10/ira-mint-NAbyY7cZXIY-unsplash-2-1024x678.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem; }

footer {
  height: 35rem;
  background-color: #acacac; }

/*# sourceMappingURL=style.css.map */
